body {
	background: black;
}

p {
	color: blue;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
}
.postcard-header h1 {
	width: 400px;
	margin-left: 10px;
}
.postcard-body {
	display: flex;
}

.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
}
p {
	font-size: 15px;
	margin-top: auto;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 10px;
}
